
@media print { 
  /*yazdır denildiğinde çalışacak kodlar*/

    .dontPrint{
      display: none !important;
      height: 0;
      }
      .header{
        display:none ;
      }
      
  body{
    -webkit-print-color-adjust:exact;
     print-color-adjust:exact;
    zoom:99%;
  }
      
  }
  